#content{
    background-position: center;
    background-size: cover;
}

/* #book[view=scroll] iframe{
    position: static;
}

#book[view=scroll]{
    overflow-y: scroll;
} */

#book[view=auto] iframe, #book[view=one_page] iframe, #book[view=two_pages] iframe{
    height: 100%;
}

iframe{
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
    width: 100%;
    visibility: hidden;
    user-select: none;
    border: 0 !important;
}

#book{
    margin: 50px;
    position: relative;
    height: calc(100% - 2 * var(--book-padding));
    width: calc(100% - 2 * var(--book-padding));
}