#library, #info, #books{
    height: 100%;
}

#library{
    width: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    background-color: var(--primary);
    display: flex;
}

#library .file, #library .last_read{
    display: none !important;
}

#info{
    max-width: 35%;
    min-width: 250px;
    width: 400px;
    background-color: var(--accent);
    padding: 30px;
    overflow-y: auto;
}

#info .continue{
    width: 100%;
    padding: 7px;
    background-color: var(--accent-focus);
    margin: 14px 0;
    user-select: none;
    text-align: center;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

#info .continue:hover{
    background-color: var(--accent-focus-hover);
}

#info .meta>.title{
    font-size: 30px;
}

#info .meta>*:not(.description){
    margin: 6px 0;
    font-size: 20;
}

#info .meta .description{
    filter: brightness(80%);
}


#books{
    flex-grow: 1;
    overflow-y: auto;
    user-select: none;
    background-size: cover;
    background-position: center;
}

#books[view=bookshelf]{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 1fr;
    grid-template-rows: auto;
    min-width: calc(200px + 2 * var(--library-gap));
    padding: var(--library-gap);
    justify-items: center;
    padding-bottom: 0;
    column-gap: var(--library-gap);
}

#books[view=list_full], #books[view=list_short]{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#books[view=list_full] + #info , #books[view=list_short] + #info{
    display: none;
}

.book{
    position: relative;
    cursor: pointer;
}

#books[view=bookshelf] .book{
    height: fit-content;
    max-width: 280px;
    margin-bottom: var(--library-gap);
    overflow-wrap: anywhere;
    width: 100%;
}

#books[view=list_full] .book, #books[view=list_short] .book{
    height: var(--list-height);
    display: flex;
    min-width: 100%;
    width: fit-content;
}

#books[view=list_full] .book .cover, #books[view=list_short] .book .cover{
    height: var(--list-height);
}

#books[view=list_full] .book .cover img, #books[view=list_short] .book .cover img{
    height: 100%;
}

#books[view=list_short] .book .info .description{
    display: none !important;
}

#books[view=list_full] .book .info, #books[view=list_short] .book .info{
    display: grid;
    padding-left: var(--library-gap);
    gap: var(--library-gap);
    flex-grow: 1;
}

#books[view=list_short] .book .info{
    grid-template-columns: 1fr 25% 50px;
}

#books[view=list_full] .book .info{
    grid-template-columns: 30% 15% 50px 1fr;
}

#books[view=list_full] .book .info>div:not(.description), #books[view=list_short] .book .info>div:not(.description){
    display: flex;
    align-items: center;
}

#books[view=list_full] .book .info>div, #books[view=list_short] .book .info>div{
    height: var(--list-height);
}

#books[view=list_full], .book .info .description #books[view=list_short] .book .info .description{
    overflow: auto;
}

#books[view=bookshelf] .book .cover{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#books[view=bookshelf] .book .cover::before{
    content: "";
    display: block;
    padding-top: 156%;
}

#books[view=bookshelf] .book .cover img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.book .info{
    font-size: 18px;
    background-color: var(--accent);
}

#books[view=bookshelf] .book .info{
    text-align: center;
    padding: 14px;
    position: relative;
    z-index: 1;
}

#books[view=bookshelf] .book .info .autor, #books[view=bookshelf] .book .info .time, #books[view=bookshelf] .book .info .description{
    display: none;
}