*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
    color: var(--text);
    font-family: var(--font-family);
}

::-webkit-scrollbar {     
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:  rgba(0,0,0,.2);
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-resizer{
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color:  rgba(0,0,0,.3);
}

#content{
    height: 100vh;
    position: relative; /* everyone depence on it */
}

#content[blur=true]{
    filter: blur(40px);
}

body, #library{
    overflow-y: hidden;
    overflow-x: hidden;
}